.about-video {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: rgba(0,0,0,0.85);
  overflow-y: hidden;
}
.video-body {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 1;
  top: 1.3rem;
  right: 0;
  bottom: 0;
  left: 0;
}
.video-title {
  padding: 0.2rem 0;
  position: relative;
  z-index: 10;
}
.video-title ul {
  width: 78%;
  height: 0.56rem;
  border-radius: 0.13rem;
  border: 1px solid #999;
  line-height: 0.56rem;
  position: relative;
  margin: 0.2rem auto;
  display: table;
}
.video-title ul li {
  list-style: none;
  font-size: 0.26rem;
  color: #999;
  display: table-cell;
  width: 25%;
  text-align: center;
  height: 0.56rem;
  border-right: 1px solid #999;
}
.video-title ul li:nth-child(1) {
  border-radius: 0.1rem 0 0 0.1rem;
}
.video-title ul li:nth-child(4) {
  border-radius: 0 0.1rem 0.1rem 0;
  border-right: none;
}
.video-title ul .vList-selected {
  background-color: #999;
  color: #fff;
}
.videonotes {
  background: #fff;
}
.videonotes .video-title ul {
  width: 50%;
  margin-top: 0;
  border: 1px solid #00a185;
}
.videonotes .video-title ul li {
  width: 50%;
  color: #00a185;
  border-right: 1px solid #00a185;
}
.videonotes .video-title ul li:last-child {
  border-right: none;
  position: absolute;
  right: 0;
}
.videonotes .video-title ul .vList-selected {
  background: #00a185;
  color: #fff;
}
.about-video-content {
  overflow: scroll;
  height: 100%;
  padding-bottom: 1.8rem;
}
.about-video-content ul li {
  position: relative;
  width: 100%;
}
.about-video-content ul li.video-catego {
  height: 1.6rem;
}
.about-video-content ul li.note-catego {
  height: 1.6rem;
}
.about-video-content ul li.out-li {
  border-bottom: 1px solid #606160;
}
.about-video-content ul li .li-right {
  float: right;
  line-height: 1rem;
}
.about-video-content ul li .li-left {
  line-height: 1rem;
  height: 1.2rem;
  padding: 0.05rem 0.3rem 0 0.5rem;
}
.about-video-content ul li .li-left >span {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chapter-list li {
  font-size: 0.3rem;
  color: #fff;
}
.chapter-list .title {
  line-height: 120%;
  padding: 0.4rem 0.2rem 0.4rem 0.3rem;
  overflow: hidden;
}
.chapter-list .title i {
  margin-top: 0.05rem;
  float: left;
}
.chapter-list .title span {
  width: 80%;
  float: left;
}
.chapter-list .child-list li {
  line-height: 1.2rem;
  position: relative;
  white-space: nowrap;
  border-top: 1px solid rgba(250,250,250,0.1);
}
.chapter-list .child-list li .s-title {
  width: 90%;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 0.6rem;
  opacity: 0.7;
}
.chapter-list .child-list li i {
  color: #fff;
}
.chapter-list .child-list li .li-left {
  display: block;
  margin: 0;
  width: 100%;
}
.chapter-list .child-list .li-right {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.1rem 0.2rem;
  white-space: nowrap;
}
.chapter-list .child-list .li-right .console {
  margin: 0;
  height: 1.2rem;
  color: #fff !important;
  background: none;
}
.chapter-list .child-list .li-right .console dd {
  display: inline-block;
  margin: 0 0 0 0.3rem;
}
.chapter-list .child-list .li-left2 {
  background: #00a185;
}
.open .icon-arrow-right::before {
  content: '\e907';
}
.chapter-task ul {
  margin-top: 0.2rem;
  float: left;
  width: 100%;
}
.chapter-task li {
  font-size: 0.3rem;
  color: #fff;
  height: 1.2rem;
  line-height: 1.2rem;
  padding-left: 0.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
}
.chapter-task li > span {
  position: absolute;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  height: 0.72rem;
  width: 0.72rem;
  display: inline-block;
}
.chapter-task li > div {
  display: inline-block;
  width: 80%;
  position: absolute;
  left: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  height: 0.7rem;
}
.chapter-task li p {
  width: 100%;
  font-size: 0.26rem;
  line-height: 0.5rem;
  position: relative;
}
.chapter-task li p span {
  color: #fff;
}
.chapter-task li .v-name .span11 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 7rem;
}
.chapter-task li .v-name span:nth-child(1) {
  position: absolute;
  left: 0;
}
.chapter-task li .v-name span:nth-child(2) {
  position: absolute;
  right: 0;
}
.chapter-task li .v-progress {
  height: 0.1rem;
  width: 100%;
  border-radius: 0.08rem;
  background-color: #999;
  position: absolute;
  bottom: 0.05rem;
}
.chapter-task li .v-progress span {
  height: 0.1rem;
  background-color: #00a085;
  position: absolute;
  display: block;
  width: 0%;
  border-radius: 0.08rem;
}
.chapter-task .video-catego > span {
  background: url("../image/video-play-black.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-task .note-catego > span {
  background: url("../image/video-edit-black.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-task .courseware-catego > span {
  background: url("../image/video-chapter-balck.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-appendix .appendix-p > span {
  background: url("../image/appendix-p.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-appendix .appendix-w > span {
  background: url("../image/appendix-w.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-appendix .appendix-zip > span {
  background: url("../image/appendix-zip.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-appendix .appendix-pdf > span {
  background: url("../image/appendix-pdf.png") no-repeat;
  background-size: 100% 100%;
}
.chapter-appendix li .v-data {
  height: 0.28rem;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.chapter-appendix li .v-data span {
  font-size: 0.26rem;
}
.chapter-appendix li .v-data span:nth-child(2) {
  margin-left: 0.3rem;
}
