

.icon-add-group:before {
	content: "\e900";
}
.icon-add-o:before {
	content: "\e901";
}
.icon-alarm:before {
	content: "\e902";
}
.icon-arrow-down-o:before {
	content: "\e903";
}
.icon-arrow-down:before {
	content: "\e904";
}
.icon-arrow-left:before {
	content: "\e905";
}
.icon-arrow-right:before {
	content: "\e906";
}
.icon-arrow-top:before {
	content: "\e907";
}
.icon-ask-o:before {
	content: "\e908";
}
.icon-await:before {
	content: "\e909";
}
.icon-back-circle:before {
	content: "\e90a";
}
.icon-back:before {
	content: "\e90b";
}
.icon-caicui-e:before {
	content: "\e90c";
	color: #646060;
    font-size: 0.5rem;
}
.icon-caicui:before {
	content: "\e90d";
	color: #646060;
    font-size: 0.5rem;
}
.icon-camera:before {
	content: "\e90e";
}
.icon-chart:before {
	content: "\e90f";
}
.icon-check-circle:before {
	content: "\e910";
}
.icon-check-o:before {
	content: "\e911";
}
.icon-check:before {
	content: "\e912";
}
.icon-check2:before {
	content: "\e913";
}
.icon-circle-half:before {
	content: "\e914";
}
.icon-circle-hollow:before {
	content: "\e915";
}
.icon-circle-solid:before {
	content: "\e916";
}
.icon-clipboard:before {
	content: "\e917";
}
.icon-close:before {
	content: "\e918";
}
.icon-cog:before {
	content: "\e919";
}
.icon-comment-new:before {
	content: "\e91a";
}
.icon-comment:before {
	content: "\e91b";
}
.icon-comments-o:before {
	content: "\e91c";
}
.icon-comments:before {
	content: "\e91d";
}
.icon-comments2:before {
	content: "\e91e";
}
.icon-course:before {
	content: "\e91f";
}
.icon-cut:before {
	content: "\e920";
}
.icon-dashboard:before {
	content: "\e921";
}
.icon-download:before {
	content: "\e922";
}
.icon-download2:before {
	content: "\e923";
}
.icon-download3:before {
	content: "\e924";
}
.icon-edit-o:before {
	content: "\e925";
}
.icon-edit:before {
	content: "\e926";
}
.icon-edit2:before {
	content: "\e927";
}
.icon-edit3:before {
	content: "\e928";
}
.icon-ellipsis:before {
	content: "\e929";
}
.icon-eraser:before {
	content: "\e92a";
}
.icon-eye-close:before {
	content: "\e92b";
}
.icon-eye:before {
	content: "\e92c";
}
.icon-file-doc:before {
	content: "\e92d";
}
.icon-file-jpg:before {
	content: "\e92e";
}
.icon-file-new:before {
	content: "\e92f";
}
.icon-file-o:before {
	content: "\e930";
}
.icon-file-pdf:before {
	content: "\e931";
}
.icon-file-plus:before {
	content: "\e932";
}
.icon-file-txt:before {
	content: "\e933";
}
.icon-file-zip:before {
	content: "\e934";
}
.icon-file:before {
	content: "\e935";
}
.icon-folder:before {
	content: "\e936";
}
.icon-img-bg:before {
	content: "\e937";
}
.icon-language:before {
	content: "\e938";
}
.icon-list-ul:before {
	content: "\e939";
}
.icon-lock-open:before {
	content: "\e93a";
}
.icon-lock:before {
	content: "\e93b";
}
.icon-mail:before {
	content: "\e93c";
}
.icon-male-o:before {
	content: "\e93d";
}
.icon-menu:before {
	content: "\e93e";
}
.icon-message:before {
	content: "\e93f";
}
.icon-news:before {
	content: "\e940";
}
.icon-next:before {
	content: "\e941";
}
.icon-pencil:before {
	content: "\e942";
}
.icon-pencil2:before {
	content: "\e943";
}
.icon-picture:before {
	content: "\e944";
}
.icon-picture2:before {
	content: "\e945";
}
.icon-play-o:before {
	content: "\e946";
}
.icon-play:before {
	content: "\e947";
}
.icon-play2-o:before {
	content: "\e948";
}
.icon-play3:before {
	content: "\e949";
}
.icon-plus:before {
	content: "\e94a";
}
.icon-prev:before {
	content: "\e94b";
}
.icon-qq:before {
	content: "\e94c";
}
.icon-question:before {
	content: "\e94d";
}
.icon-recording-o:before {
	content: "\e94e";
}
.icon-recording:before {
	content: "\e94f";
}
.icon-redo:before {
	content: "\e950";
}
.icon-replys:before {
	content: "\e951";
}
.icon-role-student:before {
	content: "\e952";
}
.icon-role-teacher:before {
	content: "\e953";
}
.icon-rss1:before {
	content: "\e954";
}
.icon-rss2:before {
	content: "\e955";
}
.icon-rss3:before {
	content: "\e956";
}
.icon-search:before {
	content: "\e957";
}
.icon-search2:before {
	content: "\e958";
}
.icon-settings:before {
	content: "\e959";
}
.icon-sound-b:before {
	content: "\e95a";
}
.icon-sound-n:before {
	content: "\e95b";
}
.icon-sound-s:before {
	content: "\e95c";
}
.icon-star:before {
	content: "\e95d";
}
.icon-stop-o:before {
	content: "\e95e";
}
.icon-stop:before {
	content: "\e95f";
}
.icon-th:before {
	content: "\e960";
}
.icon-thumb-down:before {
	content: "\e961";
}
.icon-thumb-up:before {
	content: "\e962";
}
.icon-time:before {
	content: "\e963";
}
.icon-trash:before {
	content: "\e964";
}
.icon-trophy:before {
	content: "\e965";
}
.icon-undo:before {
	content: "\e966";
}
.icon-user:before {
	content: "\e967";
}
.icon-weibo:before {
	content: "\e968";
}
.icon-weixin:before {
	content: "\e969";
}
.icon-wifi:before {
	content: "\e96a";
}
.icon-word-card:before {
	content: "\e96b";
}

.icon-down1:before {
	content: "\e922";
}
.icon-down2:before {
	content: "\e972";
}
.icon-down3:before {
	content: "\e973";
}
.icon-down4:before {
	content: '\e913';
}
.icon-ondemand_video:before {
  content: "\e900";
}
.icon-notebook:before {
  content: "\e970";
}
.icon-video:before {
  content: "\e902";
}
/*.icon-pause:before {
  content: "\e972";
}
.icon-play:before {
  content: "\e973";
}*/