html,body{
    height:100%;
    width:100%;
    margin:0;
}
ul,li{
    margin:0;
    padding:0;
}
ul li{
    list-style: none;
}
.clear-fix:before,
.clear-fix:after{
    display: table;
    content:'';
    clear: both;
}
.page-wrap{
    height:100%;
    width:100%;
    background-color: rgba(00,00,00,0.6);
    position:absolute;
    z-index: 99999;
}
.timer-wrap{
    position:absolute;
    top:50%;
    -webkit-transform:translateY(-50%);
    left:17.5%;
    height:4.5rem;
    width:65%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 0.2rem;
}
.timer-title{
    color:#6b6b6b;
}
.timer-title,.timer-btn{
    width:100%;
    height:0.87rem;
    font-size: 0.34rem;
    text-align: center;
    line-height:0.87rem;
}
.timer-btn-right{
    color:#00a185;
}
.timer-title{
    position:absolute;
    top:0;
    border-bottom:1px solid #c0c0c0;
}
.timer-btn{
    position:absolute;
    bottom:0;
    border-top:1px solid #c0c0c0;
}
.timer-btn>div{
    box-sizing: border-box;
    font-size: 0.34rem;
    text-align: center;
    line-height:0.87rem;
    width:50%;
}
.timer-btn>div:nth-child(1){
    float: left;
    border-right:1px solid #c0c0c0;
}
.timer-btn>div:nth-child(2){
    float: right;
}
.timer-content{
    display: flex;
    -webkit-display:flex;
    justify-content: center;
    -webkit-justify-content: center;
    width:3.1rem;
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-1.05rem;
    -webkit-transform: translateX(-50%);
    text-align: center;
}
.timer-content>div{
    float: left;
}
.timer-content li{
    font-size: 0.5rem;
    color:#2d2d2d;
}
.time-hours,.time-minute,.time-split{
    height:2.1rem;
    display: inline-block;
    font-size: 0.5rem;
}
.time-hours,.time-minute{
    width:1.4rem;
    text-align: center;
    height:2.1rem;
    scrollbar-base-color: transparent;
    position:relative;
    overflow: hidden;
}
.time-hours>ul,.time-minute>ul{
    position:absolute;
    width:1.4rem;
}
.time-minute::-webkit-scrollbar-thumb{
    background: #000000;
    width:10px;
    height:10px;
}
.time-hours::-webkit-scrollbar-thumb{
    background-color:transparent;
    width:0;
    height:0;
}
.time-split{
    width:0.3rem;
    text-align: center;
    line-height:2.1rem;
    color:#000;
}
.time-out{
    animation:out
}
@-webkit-keyframes out {

}